*{
    margin: 0;
    padding: 0;
}
.parent{
    max-height: 100vh;
    max-width: 100vw !important;
}
.header{
    display: flex;
    align-items: center;
    height: 10% !important;
}
.container{
    height: 94%;
    display: flex;
    flex-direction: row;
}
.header{
    height: 50px !important;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.btn{
    margin-left: 30px;
    width: 200px !important;
    padding:6px 20px;
    margin-bottom: 40px;
    cursor: pointer;
    color: rgb(57, 57, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    margin-top: 10px;
    border-radius: 6px;
}
.imga{
    height: 30px;
      width: 30px;
      cursor: pointer;
      margin-left: 30px;
  }
.leftContainer{

    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.rightContainer{
    flex: 2;
}
.leftContainer img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 30px 0 20px 0;
   
}
#label{
    padding: 10px 10px;
    background: rgb(190, 190, 190);
    border-radius: 8px;
    color: rgb(57, 57, 255);
    cursor: pointer;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px !important;
   
}
.input{
    width: 500px;
    margin-bottom: 6px;
    height: 24px;
    padding-left: 20px;
}
.input:focus{
    outline: none;
}
.input2{
    width: 220px;
    height: 20px;
    padding-left: 10px;
}
.input2:focus{
    outline: none;
}
#submit{
    padding: 10px 32px;
    background: rgb(190, 190, 190);
    border-radius: 8px;
    border: none;
    color: rgb(57, 57, 255);
    cursor: pointer;
    margin-top: 20px;
}
#stream:focus{
    outline: none;
}
#class:focus{
    outline: none;
}
#dept{
    outline: none;
}
.check{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 20px;
    max-width: 500px;
    margin-top: 8px;
    margin-bottom: 20px;
}
input[type='checkbox']{
    margin-left: 28px;
    margin-right: 4px;

}
.forcheck{
    margin-left: 20px;
    margin-top:20px !important;
    width:64%;
    margin-bottom:30px;
    display:flex;
}
.forinput{
    margin-left: 20px;
    display:none;
    width:300px;
    padding-left: 20px;
}
.forinput:focus{
    outline: none;
}